<section title="Общая информация" title-on-view="false">
    <doc-title default-doc-name="Анализ сайта"></doc-title>
</section>

<section title="Проблемы"> 
    <notes-list 
        field-name 
        field-category 
        field-category-variants="['Удобство использования', 'Скорость работы']"
        field-level="Критичность"
        field-level-variants="['Высокая', 'Средняя', 'Низкая']" 
        field-descr 
        field-file></notes-list>
</section>

<section title="Возможные улучшения"> 
    <notes-list 
        field-name 
        field-descr 
        field-file></notes-list>
</section>

<section title="Оценка"> 
    <estimate></estimate>
</section>

<btn-generate></btn-generate>

<!-- <page id="problems" ng-show="docData.siteAnalyse.problems.length > 0"> 
    <h1>Проблемы</h1>

    В данной категории отображены существенные проблемы и ошибки, по вине которых значительная часть пользователей не может пользоваться сайтом при достаточной степени удобства.<br> 
    Как следствие, такие проблемы значительно сокращают конверсию и понижают лояльность пользователей. 

    <div ng-repeat="problem in docData.siteAnalyse.problems" style="display: inline-block; vertical-align: top; margin-top: 3rem; width: 36vw; margin-right: 10vw;"> 
        <div style="width: 25vw; display: inline-block; vertical-align: top;"> 
            <h3>{{ $index + 1 }}. {{ problem.title }}</h3>
            Критичность: <span class="criticality" ng-class="{high: problem.criticality == 'Высокая', middle: problem.criticality == 'Средняя', low: problem.criticality == 'Низкая'}">{{ problem.criticality }}</span><br>
            Категория: {{ problem.category }}<br>
            <div ng-bind-html="problem.content | unsafe"></div>
        </div> 
        <img ng-src="{{ problem.imgSrc }}" ng-show="problem.imgSrc" style="height: 10vw; width: 10vw;"/>
    </div>
</page>

<page id="enhancements" ng-show="docData.siteAnalyse.enhancements.length > 0"> 
    <h1>Возможные улучшения</h1>

    <div ng-repeat="enh in docData.siteAnalyse.enhancements" style="display: inline-block; vertical-align: top; margin-top: 3rem; width: 36vw; margin-right: 10vw;"> 
        <div style="width: 25vw; display: inline-block; vertical-align: top;"> 
            <h3>{{ $index + 1 }}. {{ enh.title }}</h3>
            <div ng-bind-html="enh.content | unsafe"></div>
        </div> 
        <img ng-src="{{ ehn.imgSrc }}" ng-show="ehn.imgSrc" style="height: 10vw; width: 10vw;"/>
    </div>
</page>
 -->
