<editor layout="row">
    <div layout="row">
        <md-input-container flex="30">
            <input ng-model="$parent.docName" placeholder="Название документа">
        </md-input-container>

        <md-input-container flex="30">
            <input ng-model="$parent.projectName" placeholder="Название проекта">
        </md-input-container>

        <md-input-container flex="30">
            <md-datepicker ng-model="$parent.date" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
        </md-input-container>

        <choose-file layout="row" flex="25" model-file="$parent.logoSrc" placeholder="Logo file"></choose-file>
    </div>
</editor>

<view> 
    <img src="{{ $parent.logoSrc }}"> 

    <h1>{{ $parent.projectName }}</h1>
    <h2>{{ $parent.docName }}</h2>

    <div id="date">
        {{ $parent.date | date: 'dd.MM.yyyy'}}
    </div>
</view>
