<editor>
    <div layout="column">
        <div layout="column" ng-repeat="item in $parent.items"> 
            <div layout="row">
                <md-input-container class="md-block" flex="5"> 
                    <input value="{{ $index + 1 }}." disabled>    
                        </md-input-container>
                            <md-input-container class="md-block" flex="30" ng-if="$parent.fieldName !== undefined"> 
                        <input ng-model="item.name" placeholder="Название">
                    </md-input-container>

                    <md-input-container class="md-block" flex="20" ng-if="$parent.fieldCategory !== undefined"> 
                        <md-select ng-model="item.category" placeholder="{{ $parent.fieldCategory.length == 0 ? 'Категория' : $parent.fieldCategory }}">
                            <md-option value="{{ category }}" ng-repeat="category in fieldCategoryVariants">
                                {{ category }}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex="20" ng-if="fieldLevel !== undefied"> 
                        <md-select ng-model="item.level" placeholder="{{ fieldLevel.length == 0 ? 'Уровень' : fieldLevel }}">
                            <md-option value="{{ level }}" ng-repeat="level in fieldLevelVariants">
                                {{ level }}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-button flex="5" ng-click="$parent.items.splice($index, 1);"><md-icon>close</md-icon></md-button>
                </div>

                <div layout="row"> 
                    <md-input-container md-no-float class="md-block" flex="30" flex-offset="5" style="margin-top: 0;">
                        <textarea ng-model="item.content" rows="3" md-select-on-focus placeholder="Описание"></textarea>
                    </md-input-container>

                    <choose-file layout="row" flex="25" model-file="item.imgSrc" placeholder="Image"></choose-file>
                </div>
            </div>
        </div>
        <md-button class="md-raised" ng-click="$parent.items.push({})">Add</md-button>
</editor>

<view>
    <div ng-repeat="item in $parent.items">
        <div>{{ $index + 1 }}</div>
        <div>{{ item.name }}</div>
        <div>{{ item.content }}</div> 
        <div>{{ item.category }}</div> 
        <div>{{ item.level }}</div>
        <img src="{{ item.imgSrc }}" />
    </div>
</view>
