section {
    margin: 3rem 0;

    font-weight: 100;
}

section h1 {
    display: inline-block;

    font-weight: 300;
}

section #content {
    display: block;
    padding: 0 0 0 2rem;
}

subsection {
    display: block;
    margin: 0 0 2rem;
}

subsection h2 {
    font-weight: 300;
    font-size: 1.4em;
}
