.pagebreak { 
	page-break-before: always; 
}

h1 {
	font-weight: 300 !important;
	font-size: 2.0em !important;
}

h2 {
	width: 100%;
	text-align: center;
	font-weight: 300 !important;
	font-size: 1.6em;
	margin-top: 3rem !important;
	margin-bottom: 1.2rem !important;
}

section,
subsection,
subsubsection {
	display: block;
	font-weight: 300 !important;
	/*font-family: 'Roboto', sans-serif;*/
}

.with-tab {
	padding-left: 2rem;
}

header {
	font-family: 'Roboto', sans-serif;
	margin-top: 3rem;
	font-weight: 300 !important;
}

h1, h2 {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 300 !important;
}

ul {
	margin-bottom: 0 !important;
}

h1 {
	font-size: 2em !important;
}

td {
	font-weight: 300 !important;
}

